* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Work";
}

.roboto-uniquifier {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

:root {
  --premary-color: rgb(0, 195, 165);
  --premary-color-two: rgb(218, 247, 246);
  --second-color: rgb(197, 197, 197);
  --third-color: rgb(81, 81, 81);
  --premary-font-size: 35px;
}
html {
  font-size: 16px;
}
@font-face {
  font-family: "Work";
  src: url(asset/Work_Sans/WorkSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Work_it";
  src: url(asset/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf);
}
h1 {
  font-weight: 600;
  color: var(--premary-color);
}
h2 {
  font-weight: 500;
}
h3 {
  font-weight: 400;
  font-size: 1.1em;
}
.ico-nav {
  height: 35px;
}
.nav-title {
  display: flex;
  gap: 7px;
}
span {
  color: var(--second-color);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  height: 100px;
  opacity: 0.97;
}
.nav-l ul {
  display: flex;
  gap: 10px;
}

.nav-l ul li a {
  color: var(--second-color);
}
.nav-l ul li .first-li {
  color: var(--premary-color);
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.first-title-main h1 {
  font-weight: 400;
  margin-bottom: 5px;
}

.first-title-main {
  flex-direction: column;

  display: flex;
  justify-content: center;
  align-items: center;
}
.container1 {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
}
main {
  width: 900px;
}

.first-title-main img {
  margin-bottom: 50px;
  margin-top: 100px;
  width: 40px;
}
.welcome {
  margin-top: 80px;
  display: flex;
  color: var(--third-color);
  font-size: 1.05em;
  line-height: 30px;
  margin-bottom: 100px;

  font-weight: 390;
}
.welcome p {
  width: 50%;
}
.welcome p:first-child {
  padding-right: 15px;
}
.welcome p a {
  color: blue;
}
.welcome p a:hover {
  text-decoration-line: underline;
}

i {
  font-size: 1.1em;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  color: rgb(0, 0, 0);
}
.cards div {
  display: flex;
  flex-direction: column;
  width: 32%;
  height: 350px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;
  color: white;
  opacity: 1;
  transition-duration: 300ms;
}
.cards div:hover {
  cursor: pointer;
  opacity: 0.8;
}
.cards div i {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 0;
}
.cards div h2 {
  padding-bottom: 15px;
}
.cards div h3 {
  font-size: 1.5em;
  font-weight: 350;
  padding-bottom: 50px;
}
.cards div p {
  align-self: center;
  font-size: 1em;
  font-weight: 450;
}
.card1 {
  background-color: var(--premary-color);
}
.card2 {
  background-color: rgb(80, 143, 226);
}
.card3 {
  background-color: black;
}
section .wep h2 {
  font-weight: 300;
  font-size: 1.5em;
  line-height: 35px;
  color: var(--premary-color);
}
section .wep {
  width: 30%;
}
.icons-section {
  display: flex;
  justify-content: flex-start;
  gap: 100px;
}
.icons-section {
  margin-bottom: 100px;
}

.icons-title-one {
  width: 85%;
}
.icons-doc {
  display: inline-block;
  flex-direction: row;
  line-height: 45px;
  color: var(--second-color);
}
.ico-doc {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 15px;
  color: var(--second-color);
  transition-duration: 0.5s;
}
.ico-doc:hover {
  cursor: pointer;
  color: var(--premary-color);
}
.logoimg {
  width: 100px;
  height: 35px;
  filter: grayscale(1);
  transition-duration: 0.5s;
}
.logoimg:hover {
  filter: grayscale(0);
}
.container2 {
  padding-top: 50px;
  width: 100vw;
  height: 550px;
  background-color: var(--premary-color-two);
  margin-bottom: 1000px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  /* background-attachment:scroll; */
}
.container2 main {
  /* padding: 10px 0 100px 0;   */

  width: auto;
}

.first-div {
  padding-left: 0;
  line-height: 30px;
}
.first-div h1 {
  font-weight: 350;
  line-height: 40px;
  padding-bottom: 30px;
}
.container2 main {
  position: relative;
  display: flex;
  width: 800px;
}
.container2 main .first-div::before {
  background: url(asset/logo.png) no-repeat;
  background-size: 90%;
  content: "";
  height: 435px;
  pointer-events: none;
  position: absolute;
  left: -10%;
  top: 45%;
  width: 456px;
}
